<div class="card">
  <div class="card-header  bg-primary border-bottom-red text-center text-white">
    Détail d'une contribution
  </div>

  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
        <h6 class="mb-0">
          Source de données
        </h6>
        <span class="text-secondary">{{ traduction?.sourceDonnee?.libelle }}</span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
        <h6 class="mb-0">
          Type de traduction
        </h6>
        <span class="text-secondary">{{ traduction?.type }}</span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
        <h6 class="mb-0">
          Statut
        </h6>
        <span class="text-secondary">{{ traduction?.etat }}</span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
        <h6 class="mb-0">
          Langue de traduction
        </h6>
        <span class="text-secondary">{{ traduction?.langue?.libelle }}</span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
        <h6 class="mb-0">
          Traduction textuelle
        </h6>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
        <span class="text-secondary">{{ traduction?.contenuTexte }}</span>
      </li>
    </ul>

    <div class="mx-auto text-right">
      <div class="btn-group">
        <button class="btn btn-outline-danger radius-30" (click)="onCloseModal()">
          <i class='bx bx-x-circle mr-1'></i> Fermer
        </button>

        <button type="button" class="btn btn-outline-warning radius-30" (click)="onDownloadFile()">
          <i class='bx bx-download mr-1'></i> Télécharger
        </button>

        <button type="button" (click)="onValideTraduction('VALIDE')"
                class="btn btn-outline-success radius-30">
          <i class='bx bxs-edit'></i> Valider
        </button>

        <button type="button" (click)="onValideTraduction('REJETE')"
                class="btn btn-outline-danger radius-30">
          <i class='bx bxs-edit'></i> Rejeter
        </button>
      </div>
    </div>
  </div>
</div>
