<div class="modal-header text-white text-center bg-primary border-bottom-green">
  Créer ou modifier type de pièce
</div>


<div class="modal-body">
    <form [formGroup]="formTypePiece" (ngSubmit)="getTypePieceInfos()">
      <div class="mb-3">
        <label for="libelle" class="col-form-label">Libellé</label>
        <input class="form-control" type="text" name="libelle" formControlName="libelle" id="libelle">
      </div>

      <div class="mb-3">
        <label for="description" class="col-form-label">Description</label>
        <textarea class="form-control" name="description" formControlName="description" id="description"></textarea>
      </div>


      <div class="form-group text-right">
        <button type="button" class="btn btn-outline-danger mx-3" (click)="fermer()">
          <i class='bx bx-x-circle mr-1'></i> Annuler
        </button>

        <button type="submit" class="btn btn-outline-success" [disabled]="formTypePiece.invalid">
          <i class='bx bx-check-square'></i> Valider
        </button>
      </div>
    </form>
  </div>
<div class="modal-footer">

</div>
