<!-- wrapper -->
<div class="wrapper bg-primary">
  <div class="authentication-reset-password d-flex align-items-center justify-content-center">
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto">
        <div class="card">
          <div class="row g-0">
            <div class="col-12 col-lg-6">
              <img src="assets/images/login-images/forgot-password.jpg" class="card-img login-img h-100" alt="...">
            </div>

            <div class="col-12 col-lg-6 border-end">
              <div class="card-body">
                <div class="p-4">
                  <div class="text-start text-center text-primary h2">
                    <!--<img src="assets/images/logo-img.png" width="180" alt="">-->
                    LangTechApp
                  </div>
                  <h4 class="mt-5 font-weight-bold">Mot de passe oublié ?</h4>
                  <p class="text-muted">Entrer votre email pour réinitialiser votre mot de passe</p>

                  <form [formGroup]="formForgotPwd" (ngSubmit)="onResetPwd()">
                    <div class="my-3">
                      <input type="email" class="form-control" name="email" formControlName="email" />
                    </div>

                    <div class="d-grid gap-2">
                      <button type="submit" class="btn btn-primary btn-lg" [disabled]="formForgotPwd.invalid">
                        Réinitialiser
                      </button>

                      <a href="javascript:;" (click)="onGoBack()" class="btn btn-light btn-lg">
                        <i class='bx bx-arrow-back me-1'></i>Retour à la page de connexion
                      </a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end wrapper -->

