@import "src/assets/sass/scss/second-variable";

// Pagination
ngb-pagination ::ng-deep ul > li:not(.active) > a {
  color: $blue !important;
  text-decoration: none !important;
  border: solid 1px $white !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  padding: 6px 12px !important;
}

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: $blue !important;
  text-decoration: none !important;
  border: solid 1px $white !important;
  border-radius: 5px !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  padding: 6px 12px !important;
}
