<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
  <div class="breadcrumb-title pe-3">Contributeurs</div>
  <div class="ps-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 p-0">
        <li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()"><i class="bx bx-home-alt"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Liste des contributeurs</li>
      </ol>
    </nav>
  </div>
</div>
<!--end breadcrumb-->

<div class="card">
  <div class="card-body">
    <div class="d-lg-flex align-items-center mb-4 gap-3">
      <div class="position-relative alert alert-warning" *ngIf="!contributeurs$">
        <h6>
          Aucune contribution enregistrée !
        </h6>
      </div>
    </div>
    <div class="table-responsive" *ngIf="contributeurs$">
      <table class="table mb-0">
        <thead class="table-light">
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Prénom(s)</th>
          <th>Téléphone</th>
          <th>Email</th>
          <th>Point de fidelité</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let u of contributeurs$ | async; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ u.nom }}</td>
          <td>{{ u.prenom }}</td>
          <td>{{ u.telephone }}</td>
          <td>{{ u.email }}</td>
          <td>{{ u.pointFidelite }}</td>
          <td>
            <div class="d-flex order-actions">
              <button type="button" class="btn btn-outline-warning btn-sm radius-30 px-2"><i class='bx bx-show-alt'></i></button>
              <button type="button" class="btn btn-outline-danger btn-sm radius-30 px-2 ms-3"><i class='bx bxs-trash'></i></button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
