<div class="card-header text-white text-center bg-primary border-bottom-red">
  Detail source de donée
</div>

<div class="modal-body">
    <div class="row">
      <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
        <div class="col">
          <div class="card radius-10 border-start border-0 border-3 border-info">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div>
                  <p class="mb-0 text-secondary">Total des traductions rejetés</p>
                  <h4 class="my-1 text-info">2</h4>
                  <p class="mb-0 font-13"></p>
                </div>
                <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
                  <i class='bx bx-lock'></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card radius-10 border-start border-0 border-3 border-success">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div>
                  <p class="mb-0 text-secondary">Total des traductions acceptes</p>
                  <h4 class="my-1 text-success">200</h4>
                  <p class="mb-0 font-13"></p>
                </div>
                <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto">
                  <i class='bx bx-lock-open'></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card radius-10 border-start border-0 border-3 border-danger">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div>
                  <p class="mb-0 text-secondary">Total des points de fidelités</p>
                  <h4 class="my-1 text-danger">150</h4>
                  <p class="mb-0 font-13"></p>
                </div>
                <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto">
                  <i class='lni lni-unlock'></i>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <fieldset class="border p-2" *ngIf="traductions.length > 0">
      <legend class="w-auto text-danger text-bold">Liste des traductions</legend>
      <div class="table-responsive">
        <table class="table mb-0">
          <thead class="table-light">
          <tr>
            <th>#</th>
            <th>Contributeur</th>
            <th>Langue</th>
            <th>Etat</th>
            <th>Contenu</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of traductions; let i = index">
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-2">
                  <h6 class="mb-0 font-14">{{i+1}}</h6>
                </div>
              </div>
            </td>
            <td>{{item.libelle}}</td>
            <td>{{item.description}}</td>
            <td>
              <div class="d-flex order-actions">
                <button type="button" class="btn btn-outline-primary btn-sm radius-30 px-2" (click)="oenDetaiModal(item)"><i class='bx bx-show-alt'></i></button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </fieldset>
    <div class="form-group text-right">
      <button type="button" class="btn btn-outline-danger radius-30" (click)="fermer()">
        <i class='bx bx-x-circle mr-1'></i> Fermer
      </button>
    </div>
</div>
