<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
  <div class="breadcrumb-title pe-3">Groupes</div>
  <div class="ps-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 p-0">
        <li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()"><i class="bx bx-home-alt"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Liste des groupes</li>
      </ol>
    </nav>
  </div>
</div>
<!--end breadcrumb-->

<div class="card">
  <div class="card-body">
    <div class="d-lg-flex align-items-center mb-4 gap-3">
      <div class="position-relative" *ngIf="groupes.length === 0">
        <h6>
          Aucun groupe enregistré.
          Vous pouvez ajouter de nouveaux groupes en cliquant sur le bouton suivant
          <i class="lni lni-angle-double-right"></i>
          <i class="lni lni-angle-double-right"></i>
          <i class="lni lni-angle-double-right"></i>
        </h6>
      </div>

      <div class="ms-auto">
        <button type="button" class="btn btn-primary radius-30 px-3" (click)="openCreateUpdateModal(null)">
          <i class='bx bxs-plus-square mr-1'></i> Ajouter un nouveau groupe
        </button>
      </div>
    </div>

    <div class="table-responsive" *ngIf="groupes.length !== 0">
      <table class="table mb-0">
        <thead class="table-light">
        <tr>
          <th>#</th>
          <th>Libellé</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let g of groupes; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ g.libelle }}</td>
          <td>{{ g.description }}</td>
          <td>
            <div class="d-flex order-actions">
              <button type="button" (click)="openCreateUpdateModal(g)" class="btn btn-outline-success radius-30 btn-sm">
                <i class='bx bxs-edit'></i>
              </button>

              <button type="button" (click)="openConfirmModal(g)" class="btn btn-outline-danger radius-30 btn-sm mx-2">
                <i class='bx bxs-trash'></i>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
