<div class="card">
  <div class="card-header bg-primary border-bottom-red text-center text-white">
    Veuillez saisir un motif du rejet !
  </div>

  <div class="card-body">
    <form [formGroup]="formMotif" (ngSubmit)="onDismiss(true)">
      <div class="mb-3">
        <textarea class="form-control" id="motif" name="motif" formControlName="motif" placeholder="Motif du rejet..."></textarea>
      </div>

      <div class="form-group text-center">
        <button type="button" class="btn btn-outline-danger mx-3" (click)="onDismiss(false)">
          <i class='bx bx-x-circle mr-1'></i> Annuler
        </button>

        <button type="submit" class="btn btn-outline-success">
          <i class='bx bx-check-square'></i> Confirmer
        </button>
      </div>
    </form>
  </div>
</div>
