<div class="row">
  <div class="card radius-10">
    <div class="card-body">
      <div class="text-center text-primary h2">LangTechApp</div>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
  <div class="col">
    <div class="card radius-10 border-start border-0 border-3 border-info">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0 text-secondary">Total des contributeurs</p>
            <h4 class="my-1 text-info">25</h4>
            <p class="mb-0 font-13"></p>
          </div>
          <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
            <i class='bx bx-lock'></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card radius-10 border-start border-0 border-3 border-success">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0 text-secondary">Total des données sources</p>
            <h4 class="my-1 text-success">200</h4>
            <p class="mb-0 font-13"></p>
          </div>
          <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto">
            <i class='bx bx-lock-open'></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card radius-10 border-start border-0 border-3 border-danger">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0 text-secondary">Total des sources traduites</p>
            <h4 class="my-1 text-danger">150</h4>
            <p class="mb-0 font-13"></p>
          </div>
          <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto">
            <i class='lni lni-unlock'></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-12">
    <highcharts-chart
      [Highcharts] = "highcharts"
      [options] = "chartOptions"
      style = "width: 100%; height: 400px; display: block;">
    </highcharts-chart>
  </div>

</div>
<!--end row-->
