<div class="row">
  <div class="card radius-10">
    <div class="card-body">
      <div class="text-center text-primary h2">LangTechApp</div>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
  <div class="col">
    <div class="card radius-10 border-start border-0 border-3 border-info">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0 text-secondary">Total des contributeurs</p>
            <h4 class="my-1 text-info">{{nbreContributor}}</h4>
            <p class="mb-0 font-13"></p>
          </div>
          <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
            <i class='bx bx-lock'></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card radius-10 border-start border-0 border-3 border-success">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0 text-secondary">Total des données sources</p>
            <h4 class="my-1 text-success">{{nbreSourceDonne}}</h4>
            <p class="mb-0 font-13"></p>
          </div>
          <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto">
            <i class='bx bx-lock-open'></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card radius-10 border-start border-0 border-3 border-danger">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0 text-secondary">Total des sources traduites</p>
            <h4 class="my-1 text-danger">{{nbreTraduit}}</h4>
            <p class="mb-0 font-13"></p>
          </div>
          <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto">
            <i class='lni lni-unlock'></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="card">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-lg-12 col-xl-12 h5 text-primary">
        Rechercher le meilleur contributeur de la periode
      </div>
    </div>
    <hr/>
<!--
    <marquee behavior="scroll" ><span style="font-weight: bold">Le meilleur contributeur est </span> <span class="text-warning" style="font-weight: bold">{{bestContributeur.nom +' '+bestContributeur.prenom}}.</span><a href="">En savoir plus</a> </marquee>
-->

    <div class="row align-items-center">
      <form [formGroup]="formSearch" (ngSubmit)="onSearch()">
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="dateDebut" class="col-form-label">Date debut</label>
            <input class="form-control" type="date" name="dateDebut" formControlName="dateDebut" id="dateDebut">
          </div>

          <div class="col-md-3 mb-3">
            <label for="dateFin" class="col-form-label">Date fin</label>
            <input class="form-control" type="date" name="dateFin" formControlName="dateFin" id="dateFin">
          </div>
          <div class="col-md-6 mb-3 mt-4">
            <button type="reset" (click)="onResetSearchForm()" class="btn btn-outline-danger radius-30 mx-3 mt-2">
              <i class='bx bx-x-circle mr-1'></i> Rénitialiser
            </button>

            <button type="submit" class="btn btn-outline-success radius-30 mt-2">
              <i class='bx bx-search'></i> Rechercher
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="table-responsive" *ngIf="bestContributeurs.length > 0">
      <table class="table mb-0">
        <thead class="table-light">
        <tr>
          <th>Nom</th>
          <th>prenom</th>
          <th>email</th>
          <th>contact</th>
          <th>Point de fidelité</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bestContributeur of bestContributeurs">
          <td>{{bestContributeur.nom}}</td>
          <td>{{bestContributeur.prenom}}</td>
          <td>{{bestContributeur.email}}</td>
          <td>{{bestContributeur.telephone}}</td>
          <td>{{pointFidelite}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <highcharts-chart
      [Highcharts] = "highcharts"
      [options] = "chartOptions"
      style = "width: 100%; height: 400px; display: block;">
    </highcharts-chart>
  </div>

</div>
<!--end row-->
