<div class="alert alert-success border-0 bg-success alert-dismissible fade show py-2" *ngIf="type === 'success'">
  <div class="d-flex align-items-center">
    <div class="font-35 text-white"><i class='bx bxs-check-circle'></i>
    </div>
    <div class="ms-3">
      <h6 class="mb-0 text-white">Information</h6>
      <div class="text-white">{{ message }}</div>
    </div>
  </div>
  <button type="button" class="btn-close" (click)="close()" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="alert alert-danger border-0 bg-danger alert-dismissible fade show py-2" *ngIf="type === 'danger'">
  <div class="d-flex align-items-center">
    <div class="font-35 text-white"><i class='bx bxs-message-square-x'></i>
    </div>
    <div class="ms-3">
      <h6 class="mb-0 text-white">Information</h6>
      <div class="text-white">{{ message }}</div>
    </div>
  </div>
  <button type="button" class="btn-close" (click)="close()" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<div class="alert alert-warning border-0 bg-warning alert-dismissible fade show py-2" *ngIf="type === 'warning'">
  <div class="d-flex align-items-center">
    <div class="font-35 text-dark"><i class='bx bx-info-circle'></i>
    </div>
    <div class="ms-3">
      <h6 class="mb-0 text-dark">Information</h6>
      <div class="text-dark">{{ message }}</div>
    </div>
  </div>
  <button type="button" class="btn-close" (click)="close()" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
