<!--start header -->
<header>
	<div class="topbar d-flex align-items-center">
		<nav class="navbar navbar-expand">
			<div class="mobile-toggle-menu"><i (click)="toggleSidebar()" class='bx bx-menu'></i>
			</div>
			<div class="top-menu ms-auto">
				<ul class="navbar-nav align-items-center">
				</ul>
			</div>
			<div class="user-box dropdown">
				<a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<img src="assets/images/avatars/avatar.png" class="user-img" alt="user avatar">
					<div class="user-info ps-3">
						<p class="designattion mb-0">{{ username }}</p>
					</div>
				</a>
				<ul class="dropdown-menu dropdown-menu-end">
					<li><a class="dropdown-item" routerLink="/pages/user-profile"><i class="bx bx-user"></i><span>Mon Profil</span></a>
					</li>
					<li>
						<div class="dropdown-divider mb-0"></div>
					</li>
					<li>
            <a class="dropdown-item" href="JavaScript:;" (click)="onLogout()">
              <i class='bx bx-log-out-circle'></i><span>Déconnexion</span>
            </a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>
<!--end header -->
