/* You can add global styles to this file, and also import other style files */
@import "src/assets/sass/scss/second-variable";

.border-bottom-red {
  border-bottom: 2px solid $red !important;
  box-shadow:  0 2px 2px $red !important;
}

.border-bottom-blue {
  border-bottom: 2px solid $blue;
  box-shadow:  0 2px 2px $blue !important;
}


.text-right {
  text-align: right !important;
}
