<div class="card-header text-white text-center bg-primary border-bottom-red">
  Créer ou modifier une source de donnée
</div>


<div class="card-body">
  <form [formGroup]="formSourceDonnee" (ngSubmit)="getSourceInfo()">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="col-form-label">
          Donnée à publier <span class="text-danger">*</span>
        </label>
        <input class="form-control" type="file" name="source" formControlName="source" (change)="onFileChange($event)"/>
      </div>
    </div>

    <div class="form-group text-right">
      <button type="button" class="btn btn-outline-danger radius-30 mx-3" (click)="fermer()">
        <i class='bx bx-x-circle mr-1'></i> Annuler
      </button>

      <button type="submit" class="btn btn-outline-success radius-30" [disabled]="formSourceDonnee.invalid">
        <i class='bx bx-check-square'></i> Valider
      </button>
    </div>
  </form>
</div>
