<div class="card">
  <div class="card-header bg-primary border-bottom-red text-center text-white">
    Créer / Modifier un utilisateur
  </div>

  <div class="card-body">
    <form [formGroup]="formUser" (ngSubmit)="getUserInfos()">
      <div class="row">
        <div class="col-12 col-md-6 mb-3">
          <label for="nom" class="col-form-label">Nom <span class="text-danger">*</span></label>
          <input class="form-control" type="text" name="nom" formControlName="nom" id="nom">
        </div>

        <div class="col-12 col-md-6 mb-3">
          <label for="prenom" class="col-form-label">Prénom(s) <span class="text-danger">*</span></label>
          <input class="form-control" type="text" name="prenom" formControlName="prenom" id="prenom">
        </div>

        <div class="col-12 col-md-6 mb-3">
          <label for="telephone" class="col-form-label">Téléphone</label>
          <input class="form-control" type="tel" name="telephone" formControlName="telephone" id="telephone">
        </div>

        <div class="col-12 col-md-6 mb-3">
          <label for="email" class="col-form-label">Email <span class="text-danger">*</span></label>
          <input class="form-control" type="email" name="email" formControlName="email" id="email">
        </div>

        <div class="col-12 col-md-6 mb-3">
          <label for="password" class="col-form-label">Mot de passe <span class="text-danger">*</span></label>
          <input class="form-control" type="text" name="password" formControlName="password" id="password">
        </div>



        <div class="col-12 col-md-6 mb-3">
          <label for="profilId" class="col-form-label">Profil <span class="text-danger">*</span></label>
          <select class="form-control" name="profilId" formControlName="profilId" id="profilId">
            <option [ngValue]="null" selected disabled>--Sélectionner le profil--</option>
            <option *ngFor="let p of profils$ | async" [ngValue]="p.id">{{ p.libelle }}</option>
          </select>
        </div>


        <div class="form-group text-right">
          <button type="reset" (click)="onCloseModal(false)" class="btn btn-outline-danger radius-30 mx-3">
            <i class='bx bx-x-circle mr-1'></i> Annuler
          </button>

          <button type="submit" class="btn btn-outline-success radius-30" [disabled]="formUser.invalid">
            <i class='bx bx-check-square'></i> Enregistrer
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

