<div class="card">
  <div class="card-header bg-primary border-bottom-red text-center text-white">
    Détail des informations d'un utilisateur
  </div>

  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
        <h6 class="mb-0">
          Nom
        </h6>
        <span class="text-secondary">{{ user?.nom }}</span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
        <h6 class="mb-0">
          Prénom(s)
        </h6>
        <span class="text-secondary">{{ user?.prenom }}</span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
        <h6 class="mb-0">
          Email
        </h6>
        <span class="text-secondary">{{ user?.email }}</span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
        <h6 class="mb-0">
          Téléphone
        </h6>
        <span class="text-secondary">{{ user?.telephone }}</span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
        <h6 class="mb-0">
          Profil
        </h6>
        <span class="text-secondary">{{ user?.profil?.libelle }}</span>
      </li>
    </ul>

    <div class="form-group text-right mt-2">
      <button type="reset" (click)="onCloseModal()" class="btn btn-outline-danger radius-30 mx-3">
        <i class='bx bx-x-circle mr-1'></i> Fermer
      </button>
    </div>
  </div>
</div>
